[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui/
[submodule "thirdparty/fastgltf"]
	path = thirdparty/fastgltf
	url = https://github.com/spnda/fastgltf
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
